<!-- Partners introduction -->
<section>
    <div class="company">
        <h2>
            Working together with reliable best-in-class <br />
            partners for high quality solutions
        </h2>
        <p>
            We are committed to delivering superior, effective solutions. That 's why we take pride in <br />
            working together with industry-leading partners to increase your company success
        </p>
    </div>
</section>
<!-- tabs -->
<section class="tabs">
    <div class="row">
        <div class="col">
            <button id="category_1" class="category-selection__button" [ngClass]="{ selected: selectedCategory === 'metrology' }" (click)="showPartnerImages('metrology')">Metrology</button>
        </div>
        <div class="col" offset="0.1">
            <button id="category_2" class="category-selection__button" [ngClass]="{ selected: selectedCategory === 'machine_vision' }" (click)="showPartnerImages('machine_vision')">Machine Vision</button>
        </div>
        <div class="col" offset="0.1">
            <button id="category_3" class="category-selection__button" [ngClass]="{ selected: selectedCategory === 'robotics' }" (click)="showPartnerImages('robotics')">Robotics</button>
        </div>
        <div class="col" offset="0.1">
          <button id="category_3" class="category-selection__button" [ngClass]="{ selected: selectedCategory === 'augmented_reality' }" (click)="showPartnerImages('augmented_reality')">Augmented Reality</button>
      </div>
    </div>
</section>
<hr>
<!-- Images -->
<section class="partners-images">
  <div *ngFor="let partnerImage of selectedPartners">
    <img [src]="partnerImage" alt="partners_images">
  </div>
</section>

<!-- Robotics Card -->

<div class="robotics-card">
  <div class="robotics-card-content">
    <p class="robotics-card-text">
      Take a look at our complete <br><strong>Robotics partner offerings</strong>
    </p>
    <button class="btn robotics-card-button">Download catalogue</button>
  </div>
</div>

<!-- Quotes -->
<section class="quotes-card">
  <h2>Continuously helping leading companies <br>improve their business success</h2>
  <!-- Carousel -->
  <div id="carouselQuotes" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselQuotes" data-bs-slide-to="0" class="active indicator" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselQuotes" data-bs-slide-to="1" aria-label="Slide 2" class="indicator"></button>
      <button type="button" data-bs-target="#carouselQuotes" data-bs-slide-to="2" aria-label="Slide 3" class="indicator"></button>
      <button type="button" data-bs-target="#carouselQuotes" data-bs-slide-to="3" aria-label="Slide 4" class="indicator"></button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let quoteEntry of quoteEntries; let i = index" class="carousel-item" [class.active]="i === 0">
        <div class="quote-container">
          <div class="quote-content">
            <i class="fas fa-quote-left fa-5x"></i>
            <p class="quote-text">{{quoteEntry[1]}}</p>
          </div>
          <hr>
          <div class="quote-source">{{ quoteEntry[0]}}</div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Button to top -->
<button *ngIf="showScrollButton" (click)="scrollToTop()" class="scroll-to-top">
  ↑
</button>

